


<div class="center">

  <div class="lds-grid" *ngIf="spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

</div>




<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>INFO</h2>
      <span class="close" (click)="closeModal()">&times;</span>
    </div>
    <div class="modal-body">
      <div class="pt-1 pb-1">
        {{message}}
      </div>
    </div>
    <div class="modal-footer">
      <div class="pt-1 pb-1">
        <button mat-raised-button color="warn" (click)="redirectToHome()">Go to HomePage</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="productDetail">
<form  class="form-style-9" novalidate [formGroup]="productDataForm">
  <div class="alert alert-primary" role="alert" *ngIf="message">
    <strong>Well done!</strong> {{message}}
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="errormessage">
    <strong>Oh snap!</strong> {{errormessage}}
  </div>
  <ul>
    <li>
      <p>Name:*</p>
    <input for="name" formControlName="name" class="field-style" placeholder="Enter Name"  placeholder="Enter Name"
    [ngClass]="{'is-invalid':productDataForm.get('name').touched && productDataForm.get('name').invalid}"/>

    <div *ngIf ="productDataForm.get('name').touched && productDataForm.get('name').invalid" class="invalid-feedback">
      <div *ngIf="productDataForm.get('name').errors.required">Name is Required</div>
      <div *ngIf="productDataForm.get('name').errors.pattern">Name Does not contain number or special charecter</div>
      </div>
  </li>

  <li>
     <p>Total Amount: {{productDetail.price | discount: productDetail.discount}}</p>
  </li>

  <li>
    <p>Wallet Balance: {{userData.wallet}}</p>
 </li>


 <li>
  <p>Address:*</p>
<textarea for="address" formControlName="address" class="field-style" placeholder="Enter Address"
[ngClass]="{'is-invalid':productDataForm.get('address').touched && productDataForm.get('address').invalid}"></textarea>
<div class="invalid-feedback">
  <div>Enter Message Please</div>
  </div>
</li>
<li>
  <input type="submit" (click) ="addMoney()" [disabled]="(addMoneyButtonVar)" value="Add Money" class="field-style field-split align-left"/>
  <input type="submit" (click)="onSubmit()"  [disabled]="(buttonVar)" value="Pay"  class="field-style field-split align-right "/>

</li>

  </ul>
</form>

</div>

